<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="studentA" class="com.example.mybatis.pojo.Student">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
    </bean>

    <bean id="studentB" class="com.example.mybatis.pojo.Student">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="李四"/>
        <constructor-arg name="age" value="20"/>
        <constructor-arg name="sex" value="女"/>
    </bean>

    <bean id="school" class="com.example.mybatis.pojo.School">
        <property name="schoolId" value="1"/>
        <property name="schoolName" value="哈佛大学"/>
    </bean>

    <bean id="teacherA" class="com.example.mybatis.pojo.Teacher">
        <property name="name" value="乔峰"/>
        <property name="age" value="30"/>
    </bean>

    <bean id="teacherB" class="com.example.mybatis.pojo.Teacher">
        <property name="name" value="段誉"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="teacherC" class="com.example.mybatis.pojo.Teacher">
        <property name="name" value="张三丰"/>
        <property name="age" value="80"/>
    </bean>

    <bean id="studentC" class="com.example.mybatis.pojo.Student">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
        <property name="school" ref="school"/>
        <property name="hobbies">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="favoriteTeachers">
            <map>
                <entry>
                    <key>
                        <value>top1</value>
                    </key>
                    <ref bean="teacherA"/>
                </entry>
                <entry>
                    <key>
                        <value>top2</value>
                    </key>
                    <ref bean="teacherB"/>
                </entry>
                <entry>
                    <key>
                        <value>top3</value>
                    </key>
                    <ref bean="teacherC"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="studentD" class="com.example.mybatis.pojo.Student">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
        <property name="school">
            <bean class="com.example.mybatis.pojo.School">
                <property name="schoolId" value="1"/>
                <property name="schoolName" value="哈佛大学"/>
            </bean>
        </property>
    </bean>

    <bean id="studentE" class="com.example.mybatis.pojo.Student">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
        <property name="school" ref="school"/>
        <property name="school.schoolId" value="2"/>
        <property name="school.schoolName" value="耶鲁大学"/>
    </bean>

    <!--list集合类型的bean-->
    <util:list id="teacherList">
        <ref bean="teacherA"/>
        <ref bean="teacherB"/>
        <ref bean="teacherC"/>
    </util:list>
    <!--map集合类型的bean-->
    <util:map id="teacherMap">
        <entry>
            <key>
                <value>top1</value>
            </key>
            <ref bean="teacherA"/>
        </entry>
        <entry>
            <key>
                <value>top2</value>
            </key>
            <ref bean="teacherB"/>
        </entry>
        <entry>
            <key>
                <value>top3</value>
            </key>
            <ref bean="teacherC"/>
        </entry>
    </util:map>

    <bean id="studentF" class="com.example.mybatis.pojo.Student">
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
        <property name="school" ref="school"/>
        <property name="hobbies">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="teachers" ref="teacherList"/>
        <property name="favoriteTeachers" ref="teacherMap"/>
    </bean>

    <bean id="studentG" class="com.example.mybatis.pojo.Student"
          p:id="2"
          p:name="张三"
          p:age="18"
          p:sex="男"
          p:school-ref="school"
          p:teachers-ref="teacherList"
    />
</beans>