<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.EmpMapper">

    <!--<resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="dept_id" property="dept.deptId"></result>
        <result column="dept_name" property="dept.deptName"></result>
    </resultMap>-->

    <!--使用association处理映射关系-->
    <!--<resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <association property="dept" javaType="Dept">
            <id column="dept_id" property="deptId"></id>
            <result column="dept_name" property="deptName"></result>
        </association>
    </resultMap>-->

    <!--分步查询-->
    <resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <association fetchType="eager" property="dept" select="com.example.mybatis.mapper.DeptMapper.getDeptByDeptId" column="dept_id"></association>
    </resultMap>

    <!--通过为字段起别名的方式，保证和实体类中的属性名保持一致 -->
    <!--<select id="getEmpByEmpId" resultType="Emp">
        &lt;!&ndash;select emp_id as empId, emp_name as empName, age as age, gender as gender from t_emp where emp_id = #{empId} &ndash;&gt;
        select * from t_emp where emp_id = #{empId}
    </select>-->

    <select id="getEmpByEmpId" resultMap="empResultMap">
        select *
        from t_emp
        where emp_id = #{empId}
    </select>

    <!--<select id="getEmpAndDeptByEmpId" resultMap="empResultMap">
        select t_emp.*, t_dept.*
        from t_emp
        left join t_dept on t_emp.dept_id = t_dept.dept_id
        where t_emp.emp_id = #{empId}
    </select>-->

    <select id="getEmpAndDeptByEmpId" resultMap="empResultMap">
        select *
        from t_emp
        where emp_id = #{empId}
    </select>

    <!--根据部门ID查询员工信息-->
    <select id="getEmpByDeptId" resultType="Emp">
        select *
        from t_emp
        where dept_id = #{deptId}
    </select>

</mapper>